.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px;
  padding: 20px 40px;
  border-bottom: solid 1px var(--color-primary-medium);
}

.logo {
  height: 40px;
}

.header .button {
  color: white;
  border-color: white;
  background-color: black;
}
