.banner {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 809px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner_left {
  padding: 2.94rem;
}

.title {
  border-radius: 0.25rem;
  background-color: var(--color-frontend);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.5rem;
  height: 5.75rem;
  flex-shrink: 0;
  margin-bottom: 2.5rem;
}
.title h1 {
  padding: 0.25;
  color: var(--color-gray-light);
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subtitle h2 {
  color: var(--color-gray-light);
  font-size: 2.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.description {
  width: 41.3125rem;
  height: 6.875rem;
  flex-shrink: 0;
}

.description p {
  color: var(--color-gray-light);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.player {
  width: 40.375rem;
  height: 20.84888rem;
  flex-shrink: 0;
  border-radius: 0.25rem;
}

.player img {
  width: 100%;
  height: 100%;
}
